<%#= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
<%#= javascript_include_tag "emota" %>

<p id="notice"><%= notice %></p>
<!--
<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-animated" id='realtime-progress-bar' role="progressbar"></div>
</div>
<p class="messages"></p>
!-->
<div class="container">
  <h1>Emota Objects, render time, and score</h1>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr class="row">
        <th class="col-md-2">File Name</th>
        <th class="col-md-3">Arrival ~> API time (s)</th>
        <th class="col-md-3">API ~> Server time (s)</th>
        <th class="col-md-3">Server ~> Database time (s)</th>
        <th class="col-md-1">Tools</th>
      </tr>
    </thead>
    <% @emota.each do |emotum| %>
      <tr data-toggle="collapse" data-target="#emotions-<%= emotum.id %>" class="row accordion-toggle">
        <td class="col-md-2"><%= emotum.path[/\w\.\w+$/] %></td>
        <td class="col-md-3"><%= emotum.server_to_api_time %></td>
        <td class="col-md-3"><%= emotum.api_to_server_time %></td>
        <td class="col-md-3"><%= emotum.server_to_db_time %></td>
        <td class="col-md-1"><%= link_to 'Show', emotum %><%= link_to 'Destroy', emotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <!-- padding: 0 !important; !-->
      <tr class="row accordion-body collapse" id="emotions-<%= emotum.id %>">
        <td class="col-md-1">anger</td>
        <td class="col-md-1">contempt</td>
        <td class="col-md-1">disgust</td>
        <td class="col-md-1">fear</td>
        <td class="col-md-1">happiness</td>
        <td class="col-md-1">neutral</td>
        <td class="col-md-1">sadness</td>
        <td class="col-md-1">surprise</td>
      </tr>
      <tr class="row accordion-body collapse" id="emotions-<%= emotum.id %>">
        <td class="col-md-1"><%= emotum.emotion.anger.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.contempt.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.disgust.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.fear.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.happiness.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.neutral.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.sadness.truncate(6).to_s('S') %></td>
        <td class="col-md-1"><%= emotum.emotion.surprise.truncate(6).to_s('S') %></td>
      </tr>
    <% end %>
  </table>
</div>
<%#= link_to 'New Emotum', new_emotum_path %>
