<%#= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
<%#= javascript_include_tag "emota" %>

<p id="notice"><%= notice %></p>
<!--
  <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-animated" id='realtime-progress-bar' role="progressbar"></div>
  </div>
  <p class="messages"></p>
  !-->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Emota Logger</h2></div>
      <div class="panel-body">
        <table class="table table-condensed" style="border-collapse:collapse;">

          <thead>
            <tr>
              <th class="col-md-2">Dominant Score</th>
              <th class="col-md-2">Secondary Score</th>
              <th class="col-md-1">Emoji</th>
              <th class="col-md-4">Photo</th>
              <th class="col-md-2">File Name</th>
              <th class="col-md-1">&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <% @emota.each do |emotum| %>
              <tr data-toggle="collapse" data-target="#emotions-<%= emotum.id %>" class="accordion-toggle">
                <td class="col-md-2"><%= [emotum.emotion.primary_score[0], emotum.emotion.primary_score[1].truncate(2)*100, '%'].join ' ' %></td>
                <td class="col-md-2"><%= [emotum.emotion.secondary_score[0], emotum.emotion.secondary_score[1].truncate(2)*100, '%'].join ' ' %></td>
                <td class="col-md-1"><%=  %></td>
                <td class="col-md-4"><%= image_tag emotum.avatar.url(:medium) %></td>
                <td class="col-md-2"><%= emotum.avatar_file_name %></td>
                <td class="col-md-1"><%= link_to 'Show', emotum %><%= link_to 'Destroy', emotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <tr>
                <td colspan="12" class="hiddenRow" style="background-color: Lavender;"><div class="accordian-body collapse" id="emotions-<%= emotum.id %>">
                    <table class="table table-striped">
                      <thead>

                        <tr><th>anger</th><th>contempt</th><th>disgust</th><th>fear</th><th>happiness</th><th>neutral</th><th>sadness</th><th>surprise</th></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= [emotum.emotion.anger.truncate(4)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.contempt.truncate(4)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.disgust.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.fear.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.happiness.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.neutral.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.sadness.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.surprise.truncate(6)*100, '%'].join ' ' %></td>
                        </tr>
                        <tr class="bg-success">
                          <td><%= [emotum.emotion.anger_p.truncate(4)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.contempt_p.truncate(4)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.disgust_p.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.fear_p.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.happiness_p.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.neutral_p.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.sadness_p.truncate(6)*100, '%'].join ' ' %></td>
                          <td><%= [emotum.emotion.surprise_p.truncate(6)*100, '%'].join ' ' %></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="col-md-1">File Name</th>
                          <th class="col-md-2">Arrival ~> API</th>
                          <th class="col-md-2">API ~> Server</th>
                          <th class="col-md-2">Server ~> Database</th>
                          <th class="col-md-2">Received At</th>
                          <th class="col-md-2">Sent to User At</th></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-md-1"><%= emotum.avatar_file_name %></td>
                          <td class="col-md-2"><%= [emotum.server_to_api_time, 's'].join ' ' %></td>
                          <td class="col-md-2"><%= [emotum.api_to_server_time, 's'].join ' ' %></td>
                          <td class="col-md-2"><%= [emotum.server_to_db_time, 's'].join ' ' %></td>
                          <td class="col-md-2"><%= emotum.on_server %></td>
                          <td class="col-md-2"><%= emotum.stored_score %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>


  </div>
  <%#= link_to 'New Emotum', new_emotum_path %>
