<%#= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
<%#= javascript_include_tag "emota" %>

<p id="notice"><%= notice %></p>
<!--
  <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-animated" id='realtime-progress-bar' role="progressbar"></div>
  </div>
  <p class="messages"></p>
  !-->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Emota Objects, render time, and score</h2></div>
      <div class="panel-body">
        <table class="table table-condensed" style="border-collapse:collapse;">

          <thead>
            <tr>
              <th class="col-md-2">File Name</th>
              <th class="col-md-3">Arrival ~> API time</th>
              <th class="col-md-3">API ~> Server time</th>
              <th class="col-md-3">Server ~> Database time</th>
              <th class="col-md-1">&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <% @emota.each do |emotum| %>
              <tr data-toggle="collapse" data-target="#emotions-<%= emotum.id %>" class="accordion-toggle">
                <td class="col-md-2"><%= emotum.path[/\w\.\w+$/] %></td>
                <td class="col-md-3"><%= [emotum.server_to_api_time, 's'].join ' ' %></td>
                <td class="col-md-3"><%= [emotum.api_to_server_time, 's'].join ' ' %></td>
                <td class="col-md-3"><%= [emotum.server_to_db_time, 's'].join ' ' %></td>
                <td class="col-md-1"><%= link_to 'Show', emotum %><%= link_to 'Destroy', emotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <tr>
                <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="emotions-<%= emotum.id %>">
                    <table class="table table-striped">
                      <thead>

                        <tr><th>anger</th><th>contempt</th><th>disgust</th><th>fear</th><th>happiness</th><th>neutral</th><th>sadness</th><th>surprise</th></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= [emotum.emotion.anger.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.contempt.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.disgust.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.fear.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.happiness.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.neutral.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.sadness.truncate(6).to_s('S'), 's'].join ' ' %></td>
                          <td><%= [emotum.emotion.surprise.truncate(6).to_s('S'), 's'].join ' ' %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>


  </div>
  <%#= link_to 'New Emotum', new_emotum_path %>
